* {
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
.wrapper {
    position: relative;
    top: 60px;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
}
.wrapper .text {
    text-align: center;
}
.wrapper p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}
.wrapper .input_buttom{
    margin-left: 40px;
    font-size: 20px;
}
.wrapper .input_buttom input {


}

.wrapper li {
    list-style: none;
    margin-left: 50px;
}
.wrapper .input_submit input {
    margin-top: 15px;
    margin-left: 250px;
    background-color: blue;
    height: 50px;

}
